In [1]:
%load_ext sql

In [2]:
!pip install SQLAlchemy==1.4.47

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (2.0.2)

In [3]:
%sql postgresql://{id}:{password}!@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [44]:
%%sql

CREATE TABLE raw_data.apartment_sale_info(
  id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
  deal_amount varchar(40),
  req_gbn varchar(20),
  build_year integer,
  deal_year integer,
  dong varchar(40),
  apartment_name varchar(100),
  deal_month integer,
  deal_day integer,
  area_for_exclusive_use double precision,
  rdealer_lawdnm varchar(150),
  jibun varchar(10),
  regional_code varchar(5),
  floor integer,
  cancel_deal_day varchar(10),
  cancel_deal_type varchar(1)
);

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [45]:
%%sql

COPY raw_data.apartment_sale_info
FROM 's3://apartment-sale-data/apartment_sale_info.csv'
credentials 'aws_iam_role=arn:aws:iam::364472264080:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [42]:
%%sql

SELECT * FROM sys_load_error_detail ORDER BY start_time DESC;

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
7 rows affected.

[(100, 402815, 17260, 1073840228, 'dev', 118478, datetime.datetime(2023, 5, 30, 18, 51, 43, 152041), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 124982, 'req_gbn                                                                                                                        ', 'varchar   ', '10        ', 9, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 402689, 17000, 1073840228, 'dev', 118470, datetime.datetime(2023, 5, 30, 18, 46, 33, 334117), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_amount                                                                                                                    ', 'int4      ', '0         ', 2, 1207, "Invalid digit, Value ',', Pos 3, Type: Integer                                                                                                        ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 402178, 15813, 1073840228, 'dev', 118462, datetime.datetime(2023, 5, 30, 18, 25, 43, 759564), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_month                                                                                                                     ', 'int4      ', '0         ', 31, 1207, "Invalid digit, Value '.', Pos 0, Type: Integer                                                                                                        ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 402078, 15617, 1073840228, 'dev', 118454, datetime.datetime(2023, 5, 30, 18, 22, 12, 198474), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_month                                                                                                                     ', 'varchar   ', '10        ', 31, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 402033, 15541, 1073840228, 'dev', 118446, datetime.datetime(2023, 5, 30, 18, 20, 51, 208916), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_month                                                                                                                     ', 'varchar   ', '3         ', 31, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 401885, 15257, 1073840228, 'dev', 118438, datetime.datetime(2023, 5, 30, 18, 15, 25, 137911), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_month                                                                                                                     ', 'varchar   ', '2         ', 31, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 401652, 14737, 1073840228, 'dev', 118430, datetime.datetime(2023, 5, 30, 18, 5, 38, 244691), 's3://apartment-sale-data/apartment_sale_info.csv                                                                                                                                                                                                                ', 2, 'deal_month                                                                                                                     ', 'varchar   ', '1         ', 31, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      ')]

In [48]:
%%sql

select * from raw_data.apartment_sale_info order by id limit 10

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(83, '100,000', '', 2007, 2020, '필운동', '신동아블루아광화문의꿈', 1, 3, 111.97, '', '254', '11110', 6, '', ''),
 (211, '162,000', '', 2008, 2020, '사직동', '광화문스페이스본(106동)', 1, 2, 163.33, '', '9-1', '11110', 2, '', ''),
 (339, '88,000', '', 1994, 2020, '내수동', '세종로대우', 1, 6, 109.91, '', '167', '11110', 11, '', ''),
 (467, '130,000', '', 2004, 2020, '내수동', '킹스매너', 1, 9, 194.43, '', '110-15', '11110', 4, '', ''),
 (595, '149,000', '', 2003, 2020, '내수동', '경희궁파크팰리스', 1, 20, 148.09, '', '95', '11110', 8, '', ''),
 (723, '52,000', '', 2006, 2020, '인의동', '효성쥬얼리시티', 1, 10, 84.7, '', '48-2', '11110', 8, '', ''),
 (851, '69,000', '', 2006, 2020, '인의동', '효성쥬얼리시티', 1, 12, 84.7, '', '48-2', '11110', 14, '', ''),
 (979, '72,000', '', 2006, 2020, '인의동', '효성쥬얼리시티', 1, 15, 84.7, '', '48-2', '11110', 12, '', ''),
 (1107, '84,800', '', 2006, 2020, '인의동', '효성쥬얼리시티', 1, 30, 106.81, '', '48-2', '11110', 11, '', ''),
 (1235, '25,000', '', 2017, 2020, '효제동', '포레스트힐시티', 1, 10, 22.0584, '', '65-2', '11110', 9, '', '')]