주피터 SQL 엔진 설정

In [ ]:
%load_ext sql

In [ ]:
!pip install SQLAlchemy==1.4.47

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 28.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed SQLAlchemy-1.4.47

redshfit 연결

In [ ]:
%sql 

postgresql://****:******!@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev

apartment 테이블 조회

In [ ]:
%%sql

SELECT * FROM raw_data.apartment_sale_info LIMIT 10

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(22227, '114,000', '', 2001, 2020, '산천동', '리버힐삼성', 1, 18, 114.48, '', '193', '11170', 5, '', ''),
 (37971, '64,800', '', 1995, 2020, '행당동', '신동아', 1, 4, 59.97, '', '344', '11200', 9, '', ''),
 (62803, '84,500', '', 1995, 2020, '자양동', '한강아남', 1, 6, 83.59, '', '830', '11215', 5, '', ''),
 (62931, '50,000', '', 2001, 2020, '자양동', '스카이빌1차', 1, 6, 84.24, '', '767', '11215', 3, '', ''),
 (68307, '103,200', '', 2011, 2020, '용두동', '래미안 허브리츠', 1, 21, 84.96, '', '792', '11230', 16, '', ''),
 (75731, '110,000', '', 2014, 2020, '답십리동', '래미안위브', 1, 5, 84.98, '', '1003', '11230', 8, '', ''),
 (81491, '49,500', '', 1989, 2020, '답십리동', '동서울한양', 1, 22, 76.41, '', '41', '11230', 13, '', ''),
 (85715, '27,300', '', 2019, 2020, '장안동', '글로벌팰리스', 1, 6, 27.14, '', '415-10', '11230', 11, '', ''),
 (133587, '62,800', '', 2014, 2020, '신내동', '신내우디안1단지', 1, 30, 84.65, '', '816', '11260', 5, '', ''),
 (148307, '64,000', '', 2008, 2020, '삼선동2가', '삼선푸르지오', 1, 11, 84.84, '', '425', '11290', 1, '', '')]

지역구 및 월별 가격 테이블

In [ ]:
%%sql

CREATE TABLE raw_data.gu_month_deal AS 
SELECT 
  apartment.deal_year, 
  apartment.deal_month,
  apartment.deal_day,
  gu.gu_name,
  (CAST(REPLACE(apartment.deal_amount,',','') AS INT)/apartment.area_for_exclusive_use) AS price
FROM raw_data.apartment_sale_info AS apartment
JOIN raw_data.gu_info AS gu ON apartment.regional_code = gu.gu_code

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

(위도 및 경도가 포함된) 지역구별 실거래수

In [ ]:
%%sql

CREATE TABLE raw_data.location_deal AS 
SELECT 
  A.deal_year,
  A.gu_name,
  A.count,
  B.longitude,
  B.latitude
FROM raw_data.deal_count A
JOIN raw_data.seoul_location B ON A.gu_name = B.city

 * postgresql://admin:***@default.364472264080.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]